Repository aiscript-dev/aiscript, pull requests merged in 2023-11, with the labels that each got.

#415 ランタイムエラーの位置を表示
  etc/aiscript.api.md
  src/error.ts
  src/interpreter/index.ts
  src/interpreter/value.ts
  test/index.ts
  test/interpreter.ts
Labels: interpreter

#421 予約語のバリデーション変更
  src/parser/plugins/validate-keyword.ts
  test/index.ts
Labels: semantic analysis

#432 区切り文字の変更
  src/parser/syntaxes/common.ts
  src/parser/syntaxes/expressions.ts
  src/parser/syntaxes/statements.ts
  src/parser/syntaxes/toplevel.ts
  test/index.ts
Labels: parser

#468 fix: 文末にコメント行があると次の行の内容が現在の行に書かれていると認識されてしまう
  src/parser/scanner.ts
  test/index.ts
Labels: bug
